body {
    background: linear-gradient(135deg, #550527 0%, #550527 50%, #F5F5F5 50%, #F5F5F5 100%);
    background-size: 100vh 100vw;
}
h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", monaco, monospace;
  color: #bd0064;
  margin-bottom: 0;
  text-shadow: 1.3px 1.3px rgb(190, 221, 203);
}
h2 {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}
h3 {
    padding-left: 2px;
}

h4, h5, h6 {
    font-style: italic;
    padding-left: 4px;
}

#content {
  margin-left: 20%;
  width: 60%;
  min-width: 700px;
  border-style: solid;
  border-color: #bd0064;
  padding-right: 10px; 
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(190, 221, 203, 0.9);
  box-shadow: 2px 2px 2px #3d3d3d;
  border-radius: 12.5px;
}
div.outline-2,
div.outline-3,
div.outline-4 {
    background-color: #E5DDE5;
    border-style: solid;
    border-color: #bd0064;
    border-width: 1.3px;
}
div.outline-2,{
    margin: 3.75px;
    padding: 1px;
}
div.outline-3,
div.outline-4,
div.outline-text-3,
div.outline-text-4 {
    border: none;
}
p {
    font-family: monospace;
    margin-left: 3px;
    margin-right: 3px;
}
a > h1 {
  font-family: "Lucida Console", monaco, monospace;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.4em;
  line-height: 0.1em;
}
a > h1:hover {
  text-shadow: none;
  transform: translate(2px, 2px);
}
a {
  text-decoration: none;
  color: #bd0064;
  font-weight: bold;
}
a:hover {
  font-weight: normal;
}
#mip-top {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
#mip-header {
  background-color: #9CC7AD;
  border-bottom-color: #bd0064;
  border-bottom-style: solid;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px #3d3d3d;
}
.org-ul {
  list-style-type: none;
  font-family: monospace;
  font-size: 12px;
  margin-left: 3px;
  padding-left: 5%;
  width: 80%;
}
.org-ul > li {
  border-bottom-style: solid;
  border-bottom-color: #3d3d3d;
  border-bottom-width: 0.5px;
  padding-top: 3px;
  font-family: monospace;
}
#topnav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(61, 61, 61, 0.2);
  border-bottom-color: #bd0064;
  border-bottom-width: 0.6px;
  border-bottom-style: solid;
}
#navlink-1 > a,
#navlink-2 > a,
#navlink-3 > a {
  font-family: monospace;
  letter-spacing: 0.3em;
}
#navlink-1 {
  border-left-style: solid;
  border-left-color: #bd0064;
  border-left-width: 0.6px;
}
#navlink-1,
#navlink-2,
#navlink-3 {
  border-right-style: solid;
  border-right-color: #bd0064;
  border-right-width: 0.6px;
}
th {
    text-weight: normal;
    text-align: left;
}
td, th {
    padding: 1px;
    font-weight: normal;
    font-family: monospace;
    border-color: #bd0064;
    border-width: 1px;
    border-style: solid;
}
table {
    border-collapse: collapse;
    margin: 4px;
    background-color: #9CC7AD;
    box-shadow: 3px 3px 3px #3d3d3d;
}
code {
    border-style: dashed;
    border-width: 0.5px;
    border-radius: 2px;
    letter-spacing: 0.1em;
    background-color: rgba(61, 61, 61, 0.2);
}
pre.example {
    border-style: dashed;
    border-width: 1px;
    border-radius: 7px;
    letter-spacing: 0.15em;
    border-color: #bd0064;
    background-color: rgba(61, 61, 61, 0.2);
    padding-left: 5px;
    padding-top: 3px;
    white-space: pre-wrap;
    margin-left: 3px;
    margin-right: 3px;
}

dl.org-dl {
    border-left-style: dashed;
    border-left-width: 0.5px;
    padding-left: 3px;
    margin-left: 3px;
}
.org-dl > dt {
    font-weight: bolder;
    text-decoration: underline;
    font-family: monospace;
}
.org-dl > dd {
    font-style: italic;
    font-style: monospace;
}

div.footpara {
    margin: 0;
    padding: 0;
    display: table-cell;
}

p.footpara {
    margin: 2px;
    padding: 0;
}
div.footdef {
    margin-top: 5px;
    border-top-style: dashed;
    border-top-width: 0.5px;
    background-color: rgba(61, 61, 61, 0.2);
    display: table;
}
div.footdef > sup {
    display: table-cell;
}
